name: Release SBrowser

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      version:
       description: 'Version Release'
       required: true
       default: '99999.0'

jobs:
 build:
   strategy:
     fail-fast: false
     matrix:
       os: [macos-latest, windows-latest]

   runs-on: ${{ matrix.os }}

   steps:
     - name: Check-out repository
       uses: actions/checkout@v3

     - name: Setup Python
       uses: actions/setup-python@v4.2.0
       with:
         python-version: '3.10' # Version range or exact version of a Python version to use, using SemVer's version range syntax
         architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
         cache: 'pip'
         cache-dependency-path: |
            **/requirements*.txt

     - name: Install Dependencies
       run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

     - name: Get Folders
       if: runner.os == 'macOS'
       working-directory: /Users/runner/hostedtoolcache/Python/3.10.10/x64/lib/python3.10/site-packages/PyQt6/Qt6
       run: |
             ls
    
     - name: MacOS build workaround
       if: runner.os == 'macOS'
       working-directory: /Users/runner/hostedtoolcache/Python/3.10.10/x64/lib/python3.10/site-packages/PyQt6/Qt6
       run: |
         mkdir resources
  
     - name: MacOS build workaround 2
       if: runner.os == 'macOS'
       working-directory: /Users/runner/hostedtoolcache/Python/3.10.10/x64/lib/python3.10/site-packages/PyQt6/Qt6
       run: |
         mkdir libexec
  
     - name: Build Executable
       uses: Nuitka/Nuitka-Action@v0.4
       with:
         script-name: main.py
         standalone: true
         enable-plugins: pyqt6
         disable-console: false

     - name: Upload Artifacts
       uses: actions/upload-artifact@v3
       with:
         name: ${{ runner.os }} Build
         path: |
           build/*.exe
           build/*.app/**/*
