name: Release SBrowser

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      version:
       description: 'Version Release'
       required: true
       default: '99999.0'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check-out repository
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          python3 -m venv packenv
          source packenv/bin/activate
          pip3 install PyInstaller
          pip3 install PyQt6
          pip3 install PyQt6-WebEngine
          pyinstaller --onefile --windowed main.py
      
      - name: Codesign executable
        env: 
          MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}
          MACOS_CERTIFICATE_PWD: ${{ secrets.MACOS_CERTIFICATE_PWD }}
          MACOS_DEV_ID: ${{ secrets.MACOS_DEV_ID }}
        run: |
          echo $MACOS_CERTIFICATE | base64 --decode > certificate.p12
          ls -lh
          echo "test123"
          security create-keychain -p testpassword build.keychain
          echo "test124"
          security default-keychain -s build.keychain
          echo "test125"
          security unlock-keychain -p  testpassword build.keychain
          echo "test126"
          security import certificate.p12 -k build.keychain -P "powerade1" -T /usr/bin/codesign
          echo "test127"
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k testpassword build.keychain
          /usr/bin/codesign --force -s "$MACOS_DEV_ID" dist/main.app -v

      - name: List files
        run: |
          ls
          
      - name: Compress Mac App
        uses: vimtor/action-zip@v1
        with:
          files: dist
          dest: mac.zip
      
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ runner.os }} Build
          path: |
            mac.zip
