name: Release SBrowser

on:
  push:
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      version:
       description: 'Version Release'
       required: true
       default: '99999.0'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check-out repository
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          pip3 install PyInstaller
          pip3 install --upgrade PyInstaller pyinstaller-hooks-contrib
          pip3 install PyQt6
          pip3 install PyQt6-WebEngine
          pyinstaller --windowed main.py
          pip freeze

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ runner.os }} Build
          path: |
            dist/*.app/**/*
